body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin: 3px;
    border: none;
    cursor: pointer;
    background-color: rgb(90, 90, 90);
    font-size:xx-large
}
button:hover{
    background-color: rgb(122, 120, 120); 
}
button:active{
    background-color: rgb(167, 166, 166);
}

.symbols{
    background-color: rgba(255, 166, 0, 0.925);
}
.symbols:hover{
    background-color: rgba(227, 178, 89, 0.925);
}
.symbols:active{
    background-color: rgba(222, 193, 140, 0.925);
}

#clear{
    margin: 3px 0 15px 10px;
}
input{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgb(56, 53, 53);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: xx-large;
    
}

.flex{
    display: flex;
    justify-content: space-around;
}

main{
    width: 400px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    margin: 0, auto;
    background-color: hsl(0, 30%, 8%);

    transform: translateX(-150%);
    animation: calculator 3s ease-out forwards;

    
    border: 8px solid rgb(255, 0, 0); /* Initial border color */
    /* animation: calculator 3s ease-out forwards, change-color 0.5s infinite; Blink animation added */
    animation: calculator 3s ease-out forwards, changeColor 3s infinite;
}
@keyframes calculator {
    100%{
        transform: translate(0);
    }    
}

/* @keyframes blink {
    0% { border-color: rgb(255, 0, 0); }
    25% { border-color: rgb(0, 255, 0); }
    50% { border-color: rgb(0, 0, 255); }
    75% { border-color: rgb(255, 255, 0); }
    100% { border-color: rgb(255, 0, 255); }
} */

@keyframes changeColor {
    0% { border-color: rgb(255, 0, 0); }
    25% { border-color: rgb(0, 255, 0); }
    50% { border-color: rgb(0, 0, 255); }
    75% { border-color: rgb(255, 255, 0); }
    100% { border-color: rgb(255, 0, 255); }
}


h1{
    background-color: rgb(253, 254, 255);
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight:900;
    font-size: 50px;

}


